[package]
name = "turret"
version = "0.0.0"
edition = "2021"

[dependencies]
byteorder = "1"
clap = { version = "4", features = ["derive"] }
thiserror = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.8"
base64 = "0.22"
